In [6]:
import pandas as pd

In [7]:
dataset = {
    "Cars": ["Ferrari","Toyota","Lamborgini"],
    "TopSpeed": ["350 MPH","250 MPH","300 MPH"],
    "Price": ["10 koti","30 Lakh","7 Koti"]
    
}

In [8]:
df = pd.DataFrame(dataset, index = ["Royal Car","Family Car","Sports Car"])
df

                  Cars TopSpeed    Price
Royal Car      Ferrari  350 MPH  10 koti
Family Car      Toyota  250 MPH  30 Lakh
Sports Car  Lamborgini  300 MPH   7 Koti

In [9]:
df.loc["Family Car"]

Cars         Toyota
TopSpeed    250 MPH
Price       30 Lakh
Name: Family Car, dtype: object